<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

 <bean id="adPortalCache" class="com.ruijie.mcp.util.AdPortalCache" >
    <property name="adImagesBus" ref="adImagesBus"></property>
    <property name="adTextBus" ref="adTextBus"></property>
    <property name="tmBus" ref="templateManageBus"></property>
 </bean>
 
</beans>