@charset "utf-8";

*{ margin:0; padding:0; }


body{ font-size:12px; font-family:"arial","微软雅黑"; background:#333; color:#000; position:relative;}
a{color:#000; text-decoration:none; cursor:pointer;}
img {border:none; vertical-align:middle;}
ul, ol,li{list-style: none;}
.clear_float{ clear:both;}
select{ padding:2px;}
table input{ vertical-align:middle;}

.wrapper{ width:320px; margin:auto; overflow:hidden; zoom:1;}
.ban{ background:url(../images/yh_01.gif) no-repeat; height:139px; position:relative;}
.ban2{ background:url(../images/yh_04.gif) no-repeat; height:139px; position:relative;}
.logo{ left:20px; top:30px; width:86px; height:86px; position:absolute;}
.logo img{ width:86px; height:86px;}
.ban_txt{left:120px; top:28px; position:absolute; width:190px;}
.ban_txt li{ font:16px/30px "微软雅黑"; color:#082751;}
.ban_txt li strong{ font:18px/30px "微软雅黑"; color:#ff6316;}
.ban_txt2{left:120px; top:35px; position:absolute; width:190px;}
.ban_txt2 li{ font:12px/20px "微软雅黑"; color:#fff;}
.ban_txt2 li strong{ font:18px/20px "微软雅黑"; color:#fff;}
.home_txt{right:10px; top:5px; position:absolute; font:14px/20px "微软雅黑";}
.tit01{ background:url(../images/yh_02.gif); height:40px; padding-left:10px; font:16px/30px "微软雅黑";}
.list_box{ background:url(../images/yh_03.gif);  height:90px;}
.list_pic{ margin:6px 10px 0px 10px; float:left; width:86px; text-align:center;}
.list_pic img{ width:86px; height:72px;}
.list_txt{ margin:10px 5px 0px 0px; float:left; width:200px; color:#6e6e6e;}
.list_txt li strong{font:16px/30px "微软雅黑"; color:#373737;}
.list_txt2{ margin:8px 5px 0px 0px; float:left; width:200px; color:#6e6e6e;}
.list_txt2 li strong{font:16px/20px "微软雅黑"; color:#373737;}
.list_txt2 li span{font: bold 14px/1 "微软雅黑"; color:#F60;}
.eym{ background:#e2e2e2; padding:3px; height:400px;}
.eym img{ width:314px;}